div {
    font-family: Georgia;
	font-size: 16px;
	color: #222;
	margin: 0 auto;
	width: 950px;
}

.article {
	line-height: 150%
}

.header {
	margin-bottom: 60px;
	text-align: center;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #222;
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-weight: 800;
	margin: 25px 0;
}

h1 {
    font-size: 60px;
	text-align: center;
    padding-left: 1em;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 28px;
}

h4 {
    font-size: 14px;
	color: #999;
	text-transform: uppercase;
	margin: 0 0 0 200px;
	margin-bottom: 1em;
}

hr {
	display: block;
    margin-top: 3em;
    margin-bottom: 3em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid #ccc;
    width: 80%;
}

ol {
	margin: 0 0 0 160px; 
}

ol ol {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 150%;
}

ol li a {
	font-style: Georgia;
	font-size: 20px;
	color: #222;
}

ol ol li a {
 font-style: Georgia;
 font-size: 16px;
 color: #999;
}

ul {
   font-family: Georgia;
   font-size: 16px;
   color: #222;
   margin-top: 2em;
   margin-left: 1em;
   padding: 1em;
}

article {
	padding: 50px 0;
}

header {
	text-align: center;
}

.title_footer {
    font-family: Georgia;
	font-size: 20px;
	color: #999;
	text-align: center;
	margin-left: 1em;
}


.navigation li {
    font-family: Georgia;
	font-size: 20px;
	color: #222;
}

.definition {
	font-family: Georgia;
	font-size: 16px;
	color: #222;
}

.colonial {
	background: #f6f6f6;
	border-left: 10px solid #e3e3e3;
	font-family: Georgia;
	font-style: italic;
	font-size: 20px;
	line-height: 2;
	margin-top: 60px;
	margin-bottom: 60px;
	padding: 60px;
	margin: 1 auto;
}

.main {
	margin: 0 auto;
    width: 100%;
    padding: 0 0 50px 0;
}

.attributes {
	border: 1px solid #ccc;
}

.caption {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	margin: 25px 0;
	text-align: center;
 }

.dwellings {
 	width: 375px;
 	float: right;
 }

.attributes2 {
	border: 1px solid #ccc;
}

.caption2 {
	font-family: 'Open Sans', Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
}